<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <commands>
      <command name="bucket:cloneresultsto" type="Sitecore.Support.Buckets.Search.SearchOperations.CloneToCommand, Sitecore.Support.96369" patch:instead="command[@type='Sitecore.Buckets.Search.SearchOperations.CloneToCommand, Sitecore.Buckets']" />
      <command name="bucket:copyresultsto" type="Sitecore.Support.Buckets.Search.SearchOperations.CopyToCommand, Sitecore.Support.96369" patch:instead="command[@type='Sitecore.Buckets.Search.SearchOperations.CopyToCommand, Sitecore.Buckets']" />
    </commands>
  </sitecore>
</configuration>